{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": "warn",
    "prettier/prettier": 2
    // "quotes": [2, "single", {
    //     "avoidEscape": true
    //   }],
    // "comma-dangle": [2, "never"]
  }
}